@model Bookstore.Models.Author
@{
    ViewData["Title"] = "Details";
}
<h3 style="color:limegreen; font-style:italic">Details</h3>

<div>
    <h4>Author</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new{ @class="btn btn-info"})|
    <a asp-action="Index">Back to List</a>
</div>