@model IEnumerable<Bookstore.Models.Author>

@{
ViewData["Title"] = "Index";
}
<h2 style="padding-left:20px; text-decoration:none">Index</h2>
<p>
<a asp-action="Create" class="btn btn-info">Create New</a>
</p>
<table class="table">
    <thead>
        <tr style="
        background-color: lightgreen;
        font-size: 16px;
        font-weight: 300;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
            <th>
            @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.FullName)
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
            @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                  @Html.ActionLink("Edit", "Edit", new { Id=item.Id }, new{@class="btn btn-success"}) |
                  @Html.ActionLink("Details", "Details", new { id=item.Id }, new{@class="btn btn-info"}) |
                  @Html.ActionLink("Delete", "Delete", new { id=item.Id }, new{@class="btn btn-danger"})
            </td>
        </tr>
    }
    </tbody>
</table>
@*@Html.Partial("Notification")*@
