@model IEnumerable<Bookstore.Models.Book>
@*@await Component.InvokeAsync("AuthorNames")*@
@{
    ViewData["Title"] = "Index";
}
<h3 style="color:limegreen; font-style:italic">Books</h3>

<table class="table">
    <thead>
        <tr style="
        background-color: lightgreen;
        font-size: 16px;
        font-weight: 300;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LongDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortDescription)
            </th>
           @* <th>
                @Html.DisplayNameFor(model => model.Author.FullName)
            </th>*@
            <th>
                Image
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LongDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortDescription)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Author.FullName)
                  </td> *@
                <td>
                    @if(item.ImageUrl != null)
                    {
                        <img src="~/uploads/@item.ImageUrl" width="50" height="57" />
                    }
                    
                </td>
                <td>
                    @Html.ActionLink("Details", "Details_Layout", new { id=item.Id }, new{@class="btn btn-info"}) 
                </td>
            </tr>
        }
    </tbody>
</table>

@*<div class="row">
    <div class="col-md-4">
        <div panel-type="Success"
             body="Success Panel Body"
             header="Panel header"
             footer="Panel footer">
        </div>
    </div>
    <div class="col-md-4">
        <div panel-type="Warning"
             body="Warning Panel Body"
             header="Panel header"
             footer="Panel footer">
        </div>
    </div>
    <div class="col-md-4">
        <div panel-type="Danger"
             body="Danger Panel Body"
             header="Panel header"
             footer="Panel footer">
        </div>
    </div>
    <div class="col-md-4">
        <div panel-type="Primary"
             body="Primary Panel Body"
             header="Panel header"
             footer="Panel footer">
        </div>
    </div>
    <div class="col-md-4">
        <div panel-type="Default"
             body="Default Panel Body"
             header="Panel header"
             footer="Panel footer">
        </div>
    </div>
    <div class="col-md-4">
        <div panel-type="Info"
             body="Info Panel Body"
             header="Panel header"
             footer="Panel footer">
        </div>
    </div>
</div>*@
